{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="p-5 mb-4 bg-white rounded-3 shadow-sm">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Добро пожаловать</h1>
        <p class="col-md-8 fs-4">Это главная страница нашего приложения на Django, стилизованная с помощью Bootstrap.</p>
        <button class="btn btn-primary btn-lg" type="button">Узнать больше</button>
      </div>
    </div>
{% endblock %}